#gameBoard {
    border: 0.441vmin solid black;
    /*background: url(../pictures/wood.jpg);
    background-size: cover;*/
    background-color: rgba(255,255,255,0.35);
    display: none;
    border-radius: 4.412vmin;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);

    position: absolute;
    top: 50%;
    left: 50%;
    margin: -38vmin 0 0 -45vmin;

    width: 90vmin;
    height: 76vmin;
    
    padding: 0;
}

/* 10vmin fieldLength */

.fieldLineHorizontal {
    height: 0.6vmin;
    background-color: rgba(0,140,30,0.6);
    margin: -0.3vmin 0 0 0;
    padding:0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:1;
}
.fieldLineVertical {
    width: 0.6vmin;
    background-color: rgba(0,140,30,0.6);
    margin: 0 0 0 -0.3vmin;
    padding:0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:1;
}

.field {
    height: 9vmin;
    width: 9vmin;
    margin: -4.5vmin 0 0 -4.5vmin;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:2;
}
.field:after {
    position: absolute;
    content: "";
    height: 2vmin;
    width: 2vmin;
    left: 3.5vmin;
    top: 3.5vmin;
    background-color: rgba(0,140,30,1);
    border-radius: 50%;
    border: none;
    
}
.fieldMoveable:after {
    background-color: #00ff00;
}
.fieldMoveable:hover:after {
    background-color: #ddff00;
}

.stoneWhite,
.stoneBlack {
    /* background-position needs to be set randomly between 0 and 8vmin */
    margin: -5vmin 0 0 -5vmin;
    padding: 0;
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    border: none;
    z-index: 3;

    position: absolute;
    left: 50%;
    top: 50%;
    transition: transform 0.4s ease-out, z-index 0.4s step-end;
}
.stoneWhite {
    background: url(../pictures/white-nature.png);
    background-size: cover;
}
.stoneBlack {
    background: url(../pictures/black-nature.png);
    background-size: cover;
}
.stoneMoveFast {
    transition: transform 0.2s, z-index 0.2s step-end;
}
.stoneMoveInstant {
    transition: transform 0s, z-index 0s;
}
.stoneWhite.stoneMoveable {
    background: url(../pictures/white-moveable-nature.png);
    background-size: cover;
}
.stoneWhite.stoneMoveable.stoneHoverable:hover {
    background: url(../pictures/white-moveable-hover-nature.png);
    background-size: cover;
}
/* Its specified later so will override possible moveable */
.stoneWhite.stoneActive {
    background: url(../pictures/white-active-nature.png);
    background-size: cover;
    z-index: 4;
}
.stoneWhite.stoneActive:hover {
    background: url(../pictures/white-active-nature.png);
    background-size: cover;
}
.stoneWhite.stoneRemoveable {
    background: url(../pictures/white-removeable-nature.png);
    background-size: cover;
}
.stoneWhite.stoneRemoveable.stoneHoverable:hover {
    background: url(../pictures/white-removeable-hover-nature.png);
    background-size: cover;
}
.stoneBlack.stoneMoveable {
    background: url(../pictures/black-moveable-nature.png);
    background-size: cover;
}
.stoneBlack.stoneMoveable.stoneHoverable:hover {
    background: url(../pictures/black-moveable-hover-nature.png);
    background-size: cover;
}
/* Its specified later so will override possible moveable */
.stoneBlack.stoneActive {
    background: url(../pictures/black-active-nature.png);
    background-size: cover;
    z-index: 4;
}
.stoneBlack.stoneActive:hover {
    background: url(../pictures/black-active-nature.png);
    background-size: cover;
}
.stoneBlack.stoneRemoveable {
    background: url(../pictures/black-removeable-nature.png);
    background-size: cover;
}
.stoneBlack.stoneRemoveable.stoneHoverable:hover {
    background: url(../pictures/black-removeable-hover-nature.png);
    background-size: cover;
}


#winnerScreen {
    width: 90vmin;
    height: 76vmin;
    padding: 0;
    border: none;
    display: table;
    overflow: hidden;
    border-radius: 4vmin;
    position: absolute;
    background-color: rgba(255,255,255,0.85);
    z-index: 5;

    color: black;
    font-family: 'Arial';
    font-size: 4.6vmin;
    text-align: center;
    transition: 0.4s;
}
#winnerScreen div {
    display: table-cell; 
    vertical-align: middle;
}
#winnerScreen span {
    font-weight: bold;
    font-size: 8.5vmin;
    text-transform: uppercase;
}
